/* Layout Celular */
.slides {
    padding-top: 3rem;
}

.mySwiper {
    width: 100vw;
    height: auto;
}

.swiper-slide {
    height: auto;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: auto;
}

.swiper-pagination-bullet {
    width: 0.4rem;
    height: 0.4rem;
}
/* Layout Celular */

/* Layout Tablet */
@media (min-width: 1024px) {
    .mySwiper {
        width: 100vw;
        height: auto;
    }

    .swiper-slide {
        height: 100%;
    }

    .swiper-slide img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .swiper-pagination-bullet {
        width: 0.5rem;
        height: 0.5rem;
    }

}

/* Layout Desktop */
@media (min-width: 1728px) {
    .mySwiper {
        width: 100vw;
        height: 35rem;
    }

    .swiper-slide,
    .swiper-slide picture {
        height: 100%;
    }

    .swiper-slide img {
        height: 100%;
        object-fit: cover;
    }

    .swiper-pagination-bullet {
        width: 0.5rem;
        height: 0.5rem;
    }

}
/* Layout Desktop */

/* Cores das Bolinhas */
:root {
    --swiper-navigation-color: #FFFFFF;
    --swiper-pagination-color: #FFFFFF;
}